<header class="bg-white p-5 h-32" style="box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);">
    <div class="flex flex-row">
        <i class="fa-brands fa-angular fa-2xl" style="color: #ff4242;"></i>

    </div>
    
    <div class="flex flex-row justify-between items-center h-full">
        <div class="flex flex-row gap-5 ">   
            <h1 class="bg-yellow-300 ">Ceci est le component header</h1>
            <p>Bienvenue : {{ pseudo }}</p>
        </div>

        <nav class="flex flex-row gap-5">
            <a  href="/">Bienvenue</a>
            <a href="carbon">Carbon-footprint</a>
            <a href="profil/{{pseudo}}">Profil</a>
        </nav>
    </div>
</header>
