<div class="mx-[6%] grid grid-cols-1 lg:grid-cols-2 gap-10  p-10 h-full">
    
  <!-- Première div -->
  <div class="premiere div flex flex-col">
    <p class="bg-yellow-300">Ceci est la page du component carbon-footprint</p>
    
    <!-- Section consommation pour 100 km -->
    <div class="mt-5 flex flex-row bg-white shadow-lg rounded-lg p-4">
      <span [ngClass]="{
        'font-bold text-green-500': distanceKm > 500,
        'font-bold text-red-500': distanceKm < 100
      }">
        la consommation pour 100Km = 
        <span *ngIf="consommationPour100Km > 7" class="text-red-500">
          {{ consommationPour100Km }} litre
        </span>
        <span *ngIf="consommationPour100Km < 4" class="text-green-500">
          {{ consommationPour100Km }} litre
        </span>
        <span *ngIf="consommationPour100Km >= 4 && consommationPour100Km <= 7">
          {{ consommationPour100Km }} litre
        </span>
        , le nombre de km = {{ distanceKm }} km et la consommation totale = {{ consommationTotal }} litre
      </span>
    </div>

    <!-- Message de consommation élevée -->
    <div class="mt-5 flex flex-row bg-white shadow-lg rounded-lg p-4" *ngIf="consommationPour100Km > 7">
      <p class="text-red-500">Attention, votre consommation est élevée</p>
    </div>
    
    <!-- Message de consommation faible -->
    <div class="mt-5 flex flex-row bg-white shadow-lg rounded-lg p-4" *ngIf="consommationPour100Km < 4">
        <p class="text-green-500">Félicitations, votre consommation est faible</p>
    </div>

    <!-- Boutons pour ajuster la distance -->
    <div class="mt-5 flex flex-row bg-white shadow-lg rounded-lg p-4 gap-5">
      <button (click)="add100km()" class="border border-blue-500 text-blue-500 bg-white rounded-md px-6 py-2 font-semibold transition duration-300 ease-in-out hover:bg-blue-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-500"> + 100 KM </button>
      <button (click)="del100km()" class="border border-blue-500 text-blue-500 bg-white rounded-md px-6 py-2 font-semibold transition duration-300 ease-in-out hover:bg-blue-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-500"> - 100 KM </button>
    </div>

    <!-- Table des voyages -->
    <div class="mt-5 flex flex-row bg-white shadow-lg rounded-lg p-4 w-full">
      <table class="min-w-full table-auto border-collapse">
        <thead class="bg-black">
          <tr>
            <th class="px-4 py-2 border-b text-left text-white">Distance en km</th>
            <th class="px-4 py-2 border-b text-left text-white">Consommation pour 100 km</th>
            <th class="px-4 py-2 border-b text-left text-white">Quantité de CO2</th>
          </tr>
        </thead>
        <tbody class="bg-black">
          <!-- Boucle avec *ngFor pour afficher les voyages -->
          <tr *ngFor="let voyage of voyages" class="hover:bg-gray-50 text-white hover:text-black ">
            <td class="px-4 py-2 border-b">{{ voyage.distanceKm }}</td>
            <td class="px-4 py-2 border-b">{{ voyage.consommationPour100Km | number:'1.2-2' }}</td>
            <td class="px-4 py-2 border-b">{{ voyage.quantiteCO2 | number:'1.2-2' }}</td>
          </tr>
        </tbody>
        <thead class="bg-black">
          <tr>
            <th class="px-4 py-2 border-b text-left text-white">Moyenne des km parcourus</th>
            <th class="px-4 py-2 border-b text-left text-white">Moyenne des consommations pour 100 km</th>
            <th class="px-4 py-2 border-b text-left text-white">Moyenne des quantité de CO2</th>
          </tr>
        </thead>
        <tbody class="bg-black">
          <tr class="hover:bg-gray-50 text-white hover:text-black ">
            <td class="px-4 py-2 border-b">{{ moyenneDistanceKm | number:'1.2-2' }}</td>
            <td class="px-4 py-2 border-b">{{ moyenneConsomation| number:'1.2-2' }}</td>
            <td class="px-4 py-2 border-b">{{ moyenneC02| number:'1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Formulaire pour ajouter un nouveau voyage -->
    <div class="mt-5 flex flex-col bg-white shadow-lg rounded-lg p-4 w-full">
      <h3>Ajouter un nouveau voyage</h3>
      <form class="flex gap-5 flex-col">
        <label for="distanceKm">Distance en km: </label>
        <input class="border border-gray-300 rounded-lg p-2 w-full  text-gray-800" type="number" id="distanceKm" [(ngModel)]="newVoyage.distanceKm" name="distanceKm" required>
    
        <label for="consommationPour100Km">Consommation en litre sur 100 km: </label>
        <input class="border border-gray-300 rounded-lg p-2 w-full  text-gray-800" type="number" id="consommationPour100Km" [(ngModel)]="newVoyage.consommationPour100Km" name="consommationPour100Km" required>
    
        <button class="border border-blue-500 text-blue-500 bg-white rounded-md px-6 py-2 font-semibold transition duration-300 ease-in-out hover:bg-blue-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-500" (click)="ajouterVoyage()">Ajouter</button>
      </form>
    </div>
  </div>

  <!-- Deuxième div (formulaire ou autre contenu) -->
  <div class="deuxieme div w-full">
    <app-carbon-footprint-form></app-carbon-footprint-form>
  </div>
</div>
