<div  class="flex-col p-4 flex mx-[6%]   bg-white shadow-lg rounded-lg  mx-auto w-150">
    <p class="mt-2 mb-2 bg-yellow-300">Ceci est la page du component carbon-footprint-form</p>
    <form class="flex-col flex items-start mx-auto  p-3 gap-2 rounded-md">
        <h2>Calcul de l'empreinte Carbon</h2>
        <label>A</label>
        <input [(ngModel)]="a" name="a" class="border w-full rounded-md bg-gray-200">
        <label>B</label>
        <input [(ngModel)]="b" name="b" class="border w-full rounded-md bg-gray-200">
        <button (click)="calculate()" class="border p-2 rounded-md items-center bg-white">Envoyer</button>
    </form>
    <app-carbon-footprint-result #resultComp></app-carbon-footprint-result>
</div>