<div class="flex flex-col gap-4">
    <h1 class="text-blue-500">Bienvenue sur Angular !</h1>
  <div class="flex flex-row gap-4">
    <div class="flex flex-col">
      <p class="text-3xl font-bold underline text-red-500">
        Hello world!
      </p>
      <p class="text-3xl font-bold underline text-red-500">
        2ème World!
      </p>
      <p class="text-3xl font-bold underline text-red-500">
        3ème World!
      </p>
    </div>
    <div class="flex flex-col">
      <p class="text-3xl font-bold underline text-green-500">
        Test World!
      </p>
      <p class="text-3xl font-bold underline text-green-500">
        2ème Test!
      </p>
      <p class="text-3xl font-bold underline text-green-500">
        3ème Test!
      </p>
    </div>
  </div>
  </div>